<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Udacity Casting Agency Capstone Project</title>
	<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .button {
            background-color: rgb(93, 97, 148);
            text-decoration: none;
            border-radius: 5px;
            color: white;
            padding: 10px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        .button:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <h1>Udacity Casting Agency Capstone Project</h1>
    <h3>Hello {{ name }}</h3>
    <p><a href="https://fsndpaula.auth0.com/authorize?audience=api&response_type=token&client_id=EHUF6nr6QpYJSMYO9BQFjl4yqTsQjZ2m&redirect_uri=https://fsnd-capstone-udacity.herokuapp.com/logged-in" class="button" role="button">Login</a></p>
    </div>
</body>
</html>